body {
    background-color: rgb(24, 24, 24);
	  /* font-family: "dana"; */
    font-style: normal;
    


}
p {
    color: white;
    text-align: center;
    font-size:30;
    position: relative;
    /* letter-spacing: -4px; */
    
}

  
  .payam {
    /* font-family: "dana"; */
    /* display: inline-block; */
    border-radius: 8px;
    background-color:rgb(15, 15, 15);
    border: none;
    color: #ffffff;
    font-size: 13px;
    padding: 8px;
    display:block;
    margin: auto;
    
    


  }
  
  
  


  
